*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-size: 62.5%; }

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%; } }

body {
  background: #ffffff;
  max-width: 100vw; }

h2 {
  color: #2c3e50;
  font-size: 5rem;
  text-decoration: underline; }

h3 {
  color: #2d3436; }

a, u {
  text-decoration: none; }
  a:hover, u:hover {
    text-decoration: none; }

.section {
  margin: 10rem 4rem; }
  .section__title {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 0 0.3rem;
    border-bottom: 2.5px solid var(--color-primary);
    font-size: 3.4rem;
    font-weight: 700; }
  .section__subtitle {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400; }

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(53, 59, 72, 0.63);
  overflow: hidden;
  border-radius: 5px; }

.overlay-effect--project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(53, 59, 72, 0.54);
  overflow: hidden;
  border-radius: 5px; }

.overlay:hover .overlay-effect,
.overlay:hover .overlay-effect--project {
  opacity: 1;
  border-radius: 5px;
  cursor: pointer; }

.overlay {
  position: relative; }

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1; }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px; }
    .content__container:before {
      content: '[';
      left: 0; }
    .content__container:after {
      content: ']';
      position: absolute;
      right: 0; }
    .content__container:after, .content__container:before {
      position: absolute;
      top: 0;
      color: #16a085;
      font-size: 42px;
      line-height: 40px;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    .content__container__text {
      display: inline;
      float: left;
      margin: 0; }
    .content__container__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
              animation-name: change;
      -webkit-animation-duration: 10s;
              animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
      .content__container__list__item {
        line-height: 40px;
        margin: 0; }

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); } }

@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); } }

.mt-small {
  margin-top: 1rem; }

.mt-large {
  margin-top: 3rem; }

.mt-largest {
  margin-top: 5rem; }

.m-section {
  margin: 4rem 0; }

.text-center {
  text-align: center; }

h1, h2 {
  font-family: 'Montserrat', sans-serif !important; }

h3, h4, p {
  font-family: 'Roboto', sans-serif !important; }

.modal-dialog {
  min-width: 920px; }

.modal-content {
  border-radius: 7px;
  -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22);
          box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22); }

.modal-header {
  padding: 0;
  border: 0; }

.modal-body {
  background: #2c3e50; }

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  background: #2c3e50; }

.modal__title {
  font-size: 3.2rem;
  color: #f9f9f9; }

.modal__description {
  font-size: 1.6rem;
  padding: 0 2rem;
  margin: 0 1rem;
  color: #f9f9f9; }

.modal__links {
  font-size: 2rem;
  text-decoration: none;
  color: #f9f9f9; }
  .modal__links:hover {
    color: #95afc0;
    text-decoration: none; }

.contact__btn {
  background: #95afc0;
  color: #fff;
  border: none;
  height: 54px;
  font-size: 1.6em;
  padding: 0 3.4rem;
  margin: auto 0;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  border-radius: 10px;
  outline: none;
  text-align: center;
  line-height: 50px;
  -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22);
          box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22); }
  .contact__btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .contact__btn a {
    color: #f9f9f9; }

.contact__btn:hover {
  background: #fff;
  color: #95afc0; }

.contact__btn:before, .contact__btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all; }

.contact__btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0; }

.contact__btn:hover:before, .contact__btn:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all; }

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c3e50; }
  .header__title {
    position: relative;
    text-align: center;
    font-size: 7rem;
    line-height: 9rem;
    font-weight: 700;
    width: 60%;
    margin: 0;
    opacity: 0; }
  .header__subtitle {
    position: relative;
    text-align: center;
    font-size: 7rem;
    line-height: 9rem;
    font-weight: 700;
    width: 60%;
    margin: 0;
    opacity: 0; }
    .header__subtitle--alt {
      opacity: 0;
      color: #95afc0; }
  .header__hr {
    position: relative;
    width: 36%;
    height: 0.5rem;
    background: #2d3436;
    margin-top: 2rem;
    opacity: 0; }
  .header__social {
    position: relative;
    margin: 0 auto;
    opacity: 0; }
    .header__social-links {
      font-size: 4rem;
      margin: 3rem;
      color: #2c3e50; }
      .header__social-links:hover {
        color: #95afc0;
        cursor: pointer; }
      .header__social-links:visited {
        color: beige; }
  .header__arrow {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    margin-top: 8rem;
    color: #2c3e50;
    cursor: pointer;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-delay: 4.7s;
            animation-delay: 4.7s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .header__arrow:hover {
      color: #95afc0; }

.fab {
  font-size: 5rem; }

.fas {
  font-size: 4rem; }

.about__content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 10vh);
  grid-gap: 1.5rem; }

@media only screen and (max-width: 68.75em) {
  .about__content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 15vh); }
  .about__item {
    grid-row: unset !important;
    grid-column: unset !important; } }

@media only screen and (max-width: 37.5em) {
  .about__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 12vh); } }

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .about__item:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .about__item:hover:before, .about__item:hover :after {
      -webkit-transition: 800ms ease all;
      transition: 800ms ease all; }
  .about__item:before, .about__item :after {
    -webkit-transition: 400ms ease all;
    transition: 400ms ease all; }
  .about__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    background: #f1c40f;
    color: #1e272e; }
  .about__item--2 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    background-color: #c7ecee;
    color: #22a6b3; }
  .about__item--3 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 4;
    background: #27ae60;
    color: #ccae62; }
  .about__item--4 {
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;
    background: #ff5252;
    color: #f7d794; }
  .about__item--5 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    background: #ccae62;
    color: #1e272e; }
  .about__item--6 {
    grid-row: 2 / span 3;
    grid-column: 3 / span 2;
    background: #218c74;
    color: #ecf0f1; }
  .about__item--7 {
    grid-row: 4 / span 2;
    grid-column: 5 / span 2;
    background: #e67e22;
    color: #222; }
  .about__item--8 {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2;
    background: #40739e;
    color: #dcdde1; }
  .about__item--9 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    background: #ced6e0;
    color: #0a3d62; }
  .about__item--10 {
    grid-row: 5 / span 2;
    grid-column: 1 / span 4;
    background: #747d8c;
    color: #d2dae2; }
  .about__item--11 {
    grid-row: 6 / span 1;
    grid-column: 5 / span 2;
    background: #fbc531;
    color: #227093; }
  .about__item--12 {
    grid-row: 5 / span 3;
    grid-column: 7 / span 2;
    background: #3a99cc;
    color: #f1f2f6; }
  .about__item--13 {
    grid-row: 7 / span 2;
    grid-column: 1 / span 2;
    background: #c23616;
    color: #222; }
  .about__item--14 {
    grid-row: 7 / span 2;
    grid-column: 3 / span 4;
    background: #0abde3;
    color: #006266; }
  .about__item--15 {
    grid-row: 8 / span 1;
    grid-column: 7 / span 2;
    background: #574b90;
    color: #ced6e0; }

.project__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 1.5rem; }

@media only screen and (max-width: 37.5em) {
  .project__content {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 30rem;
    grid-gap: 10px; } }

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #95afc0;
  color: #2c3e50;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22);
          box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22); }
  .project__item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .project__item:hover:before, .project__item:hover :after {
      -webkit-transition: 800ms ease all;
      transition: 800ms ease all; }
  .project__item:before, .project__item :after {
    -webkit-transition: 400ms ease all;
    transition: 400ms ease all; }

.music {
  height: auto;
  max-width: 100%; }
  .music__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22);
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22); }
  .music__item {
    display: block;
    height: 30rem; }

.contact {
  color: #f9f9f9; }
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60rem;
    width: 60vw;
    margin: 0 auto;
    margin-top: 5rem;
    color: #f9f9f9;
    background-color: #2c3e50;
    border-radius: 5px;
    -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22);
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 10px 18px rgba(0, 0, 0, 0.22); }
    .contact__content__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
  .contact__title {
    margin-top: 2rem;
    color: #f9f9f9;
    -webkit-text-decoration-line: none;
            text-decoration-line: none; }
  .contact__subtitle {
    color: #f9f9f9;
    margin-bottom: 2rem; }
  .contact__button__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 3rem; }

.form {
  width: 50%; }

.alert {
  margin-top: 1rem;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 3px;
  background: #16a085;
  display: none; }

input {
  min-height: 4rem; }

label {
  font-size: 1.6rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7.2rem;
  max-width: 100vw;
  background: #95afc0;
  color: #2c3e50;
  margin: 0;
  font-size: 1.7rem;
  font-weight: bold; }
  .footer .fas {
    font-size: 1.7rem; }
  .footer__content {
    padding: 0.5rem; }
